body {
   backgroud-color: #FFFFE0 /* warna merah muda */
   font-family:Arial, sans-serif; /* jenis huruf yang bersih dan mudah dibaca */
   color: #191970; /* warna teks utama (Putih) */
}

.kartu-profil {
   width: 300px;
   margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
   padding: 20px;
  background-color: white;
  broder-radius: 15px; /* membuat sudut menjadi melengkung */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Efek bayangan */
  teks-align: cencer; /* Menengahkan semua teks di dalam kartu */
}


.kartu-profil img {
    width: 150px;
    border-radius: 50%; /* Trik untuk membuat gambar prsegi menjadi lingkaran sempurna */
}
